Resolve address in see-other-host error

In Section 4.9.3.19 of RFC 6120, there is a requirement where the initiating entity MUST resolve the FQDN specified in the &lt;see-other-host /&gt; element according to the process described in Section 3.2.

```
<stream:error>
  <see-other-host xmlns='urn:ietf:params:xml:ns:xmpp-streams'>
    [2001:41D0:1:A49b::1]:9222
  </see-other-host>
</stream:error>
```

Also:

<blockquote>When negotiating a stream with the host to which it has been redirected, the initiating entity MUST apply the same policies it would have applied to the original connection attempt (e.g., a policy requiring TLS), MUST specify the same 'to' address on the initial stream header, and MUST verify the identity of the new host using the same reference identifier(s) it would have used for the original connection attempt (in accordance with [TLS-CERTS]).</blockquote>
