SCRAM-SHA-1-PLUS

Section 13.8.1 of RFC 6120 states:

<blockquote>For authentication only, servers and clients MUST support the SASL Salted Challenge Response Authentication Mechanism [SCRAM] -- in particular, the SCRAM-SHA-1 and SCRAM-SHA-1-PLUS variants.</blockquote>


I have created an hs-tls issue, https://github.com/vincenthz/hs-tls/issues/17, to allow us to tap into the data needed for this.

Note that channel binding SHOULD be used even if TLS is used.
